<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258612152633-t8ormk8idctuus025ivc1r8g0t5e7iin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258612152633-t8ormk8idctuus025ivc1r8g0t5e7iin</string>
	<key>API_KEY</key>
	<string>AIzaSyDKmhjjm3SWbQZWAOff8HCCwkBju2pl-_s</string>
	<key>GCM_SENDER_ID</key>
	<string>258612152633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sentrei.sentrei.beta</string>
	<key>PROJECT_ID</key>
	<string>sentrei-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>sentrei-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258612152633:ios:8cca4783fefba001ff40e8</string>
	<key>DATABASE_URL</key>
	<string>https://sentrei-beta.firebaseio.com</string>
</dict>
</plist>