gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

firebase/sentrei-alpha.json
firebase/sentrei-beta.json
firebase/sentrei-master.json

store/api.json
store/key.jks
store/key.properties
