<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280671636932-blu8erseuspmhmjp0sdiqolt16isppcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280671636932-blu8erseuspmhmjp0sdiqolt16isppcf</string>
	<key>API_KEY</key>
	<string>AIzaSyAVsg_El3cvqmLfziooJVVXM6jVog_0iWc</string>
	<key>GCM_SENDER_ID</key>
	<string>280671636932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sentrei.sentrei.alpha</string>
	<key>PROJECT_ID</key>
	<string>sentrei-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>sentrei-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280671636932:ios:0df6c23796b69f57cd6891</string>
	<key>DATABASE_URL</key>
	<string>https://sentrei-alpha.firebaseio.com</string>
</dict>
</plist>